* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.form-container {
    position: fixed;
    top: 50%;
    left: 50%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
}

.form-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}

.user-login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 1rem;
}

mat-form-field {
    width: 100%;
}

button {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
    color: rgb(12, 12, 120);
}

span {
    position: fixed;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    color: rgb(221, 68, 68);
    // border: 1px solid black;
    text-align: center;
    font-size: large;
}